<div class="alert alert-block">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<h4>Guiude!</h4>
	<ol>
	  <li>Search 5~10 movies by their name on left search form</li>
	  <li>Rate movies on search result</li>
	  <li>Once you rated more than 5~10 movies, then click analyze to discover</li>
	  <li>To see movie poster, click film icon(note: this is just top search result image from movie.naver.com</li>
	</ol>
</div>

<div class="row">
  <div class="span2"><%= link_to "<< Back", user_path(current_user),  { class: "pager" } %></div>
  <div class="span10">
    <h1>
      <%= Tag.find(@tag_id).title %>
    </h1>
  </div>
</div>


<!--div class="row">
  <div class="span10">
    <%= render "search" %>
    <%= render partial: "movie", locals: { movies: @movies } %>
    <%= will_paginate @movies %>
  </div>
</div-->

<div class="row">
  <div class="span10">
    <div class="user_rated">
    	<%= render partial: "/rates/rate", locals: { rates: @rated_movies } %>
    </div>
  </div>
  <div class="span2">
    <%= render "search" %>
    <%= render partial: "movie", locals: { movies: @movies } %>
    <%= will_paginate @movies %>
  </div> 
  

  <!--div class="span2">
     <%= link_to "Analyze", movies_path(tag_id: params[:tag_id]), { class: "btn btn-large", remote: true } %>
     <div class="recs">
     </div>
  </div-->
</div>

<div class="row">
   <%= link_to "Analyze", movies_path(tag_id: params[:tag_id]), { class: "btn btn-large", remote: true } %>
</div>
<hr />

<div class="row recs">
</div>
  
