
<% for rate in @rated_movies %>
  <div class="row">
  	<div class="span5" id="<%= rate.movie.id %>">
	  	<%= link_to rate.movie.title, naver_movie_url(rate.movie.title), target: "_blank" %>
        , <%= rate.rate %>
      <br />
		  <%= link_to '<i class="icon-film"></i>'.html_safe, 
				rate.movie, { method: :get, remote: true } %>
	</div>
	<%= link_to '<i class="icon-remove"></i>'.html_safe, 
  		rate, confirm: "Are you sure?", 
  		method: :delete, remote: true %>
  </div>
<% end %>
<% if @rated_movies.size > 0 %>
  <%= link_to "Analyze", movies_path(tag_id: params[:tag_id]), { class: "btn", remote: true } %>
<% end %>
